<!DOCTYPE html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="./styles/normalize.css">
<link rel="stylesheet" href="./styles/milligram.min.css">


h1 - Configuration:

label for='sql-addr'
  - SQL Server Address: 
input id='sql-addr' type='text' placeholder='IP / Instance'

label for='sql-port'
  - SQL Server Port: 
input id='sql-port' type='number' placeholder='Port'

label for='sql-db'
  - SQL Server Database: 
input id='sql-db' type='password' placeholder='Database Name'

label for='sql-usr'
  - SQL Server User: 
input id='sql-usr' type='text' placeholder='User'

label for='sql-pass'
  - SQL Server Password: 
input id='sql-pass' type='password' placeholder='Password'

button type='submit'
  - Save